@use "../../styles/variables" as *;

button {
  width: 300px;
  height: 40px;
  padding: 0.5rem 3.5rem;

  border-radius: 10px;
  border: 2px solid $primary-color;
  transition: background-color 0.3s ease-in-out;

  font-size: 16px;
  cursor: pointer;
}

.primary-button {
  background-color: $primary-color;
  color: white;
}

.primary-button:hover {
  background-color: $primary-color-hover;
}

.secondary-button {
  background-color: transparent;
  color: $primary-color;
}

.secondary-button:hover {
  background-color: $primary-color-hover;
  color: white;
}
