#modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: linear-gradient(135deg, #4247a2, #52b095);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  font-size: 28px;
}

#modal img {
  position: fixed;
  top: 5%;
  right: 5%;
  align-self: flex-end;
  width: 45px;
  height: 45px;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

#modal img:hover {
  transform: rotate(90deg);
}

#modal div a {
  display: block;
  margin-bottom: 2rem;
}

#modal.show {
  opacity: 1;
  pointer-events: all;
}
