$primary-color: #1173d4;
$primary-color-hover: #0c5eaf;
$secondary-color: #52b095;
$secondary-color-hover: #44b293;

$color-gradient: linear-gradient(90deg, #4247a2 0%, #52b095 100%);

$background-color-primary: #f8f9fa;
$background-color-secondary: #fdefef;

$background-color-footer: #313461;

$text-gray: #767676;
