@use "variables";
@use "reset";
@use "base";

@use "./shared/button";
@use "./shared/modal";
@use "./shared/backToTop";

@use "../pages/styles/header";
@use "../pages/styles/section-home";
@use "../pages/styles/section-cards";
@use "../pages/styles/section-prevention";
@use "../pages/styles/section-alerts";
@use "../pages/styles/footer";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
