@use "../../styles/variables" as *;

#section-cards {
  background-color: $background-color-primary;
  padding: 5rem 5%;
  margin: 0 auto;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  h2 {
    font-size: 45px !important;
  }
  p {
    font-size: 16px;
  }

  .listCards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

#section-cards .listCards .card {
  background-color: #f9fafb;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px 0px;

  display: flex;
  flex-direction: column;

  width: 18rem;
  height: 12rem;

  align-items: center;
  margin: 0 auto;
  padding: 0.75rem 1rem;

  border-radius: 10px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;

  img {
    width: 48px;
    height: 48px;
    border-radius: 1rem 1rem 0 0;
  }

  h3 {
    margin: 0.625rem 0 1.375rem;
  }

  p {
    font: normal regular 1rem/1 "roboto";
  }

  .primary-button {
    margin-top: auto;
  }
}

@media screen and (min-width: 760px) {
  #section-cards {
    padding: 8rem 5%;

    p {
      width: 60%;
    }

    .listCards {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      p {
        width: 100%;
      }
    }
  }

  .card {
    &:hover {
      border-color: $primary-color-hover;
    }
  }
}
