@use "../../styles/variables" as *;

#section-women {
  background-color: #fdefef;
  h2 {
    color: transparent;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(
        90deg,
        rgba(249, 1, 111, 0.54) 0%,
        rgba(147, 8, 133, 0.619615) 41.83%,
        rgba(208, 56, 170, 0.754793) 70.19%,
        #851c87 100%
      );
    background-clip: text;
  }
}

#section-man {
  h2 {
    color: transparent;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(
        90deg,
        #3373d2 16.04%,
        #6f95c7 33.14%,
        #7bb5f5 54.51%,
        #0074ee 68.5%,
        #5ea7ef 87.02%
      );

    background-clip: text;
  }
}

.section-prevention {
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 32px;
  }

  .listCards {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.section-prevention .listCards .card {
  box-shadow: 0px 4px 4px 1px #00000040;
  height: 25rem;
  width: 15.625rem;
  padding: 1rem 0.5rem;

  background: white;
  border: 1px solid transparent;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  img {
    width: 105px;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    font-size: 14px;
    list-style-type: disc;
    padding-inline: 16px;

    li {
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: 760px) {
  .section-prevention {
    h2 {
      font-size: 45px !important;
    }
    .listCards {
      width: 70lvw;

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      &:hover {
        border-color: $primary-color-hover;
      }
    }
  }
}
