#home-container {
  height: 100svh;
  width: inherit;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .content {
    width: 90lvw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    color: black;

    p {
      font: normal 26px/1.2 "Inter";
      // margin-bottom: 2rem;
    }

    .container-buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      button {
        width: 100%;
        font-weight: bold;
      }
    }
  }
}

@media screen {
  @media (min-width: 760px) {
    #home-container {
      background: url(../assets/bannerHeader.png) no-repeat right top / contain;
      text-align: left;
      justify-content: start;

      .wrap {
        width: 80%;
        margin: 0 auto;

        .content {
          margin: 10rem 0 0;
          width: 580px;

          h1 {
            width: 70%;
          }

          p {
            width: 65%;
          }

          .container-buttons {
            margin-top: 0rem;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
          }
        }
      }
    }
  }

  @media (min-width: 1000px) {
    #home-container .wrap .content {
      margin-top: 12.5rem;

      h1 {
        width: 100%;
      }
    }
  }
}
